.mdl-mini-footer {
    z-index: 3;
}

.red {
    color: red;
}



@media (max-width: 360px) {
    .mdl-card.no-width {
        width: initial;
    }
    .mdl-button.bottom-right {
        top: -28px;
        z-index: 4;
        left: calc(100% - 75px);
    }
}
@media (min-width: 360px) {
    .mdl-button.bottom-right {
        z-index: 4;
        left: 250px;
        top: -28px;
    }
}
.header {
    background-color: hsla(0, 81%, 66%, 1);
    padding: 5px;
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.wrapper {
    padding: 10px;
}
.footer {
    background-color: hsla(53, 81%, 66%, 1);
    padding: 5px;
    height: 20px;
}

.full-width {
    width: 100%;
}

.align-right {
    text-align: right;
}

form {
    margin-bottom: 0;
}

select {
    font-size: inherit;
}
