.header {
    background-color: hsla(0, 81%, 66%, 1);
    padding: 5px;
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.wrapper {
    padding: 10px;
}
.footer {
    background-color: hsla(53, 81%, 66%, 1);
    padding: 5px;
    height: 20px;
}

.full-width {
    width: 100%;
}

.mdl-button.bottom-right {
    z-index: 4;
    left: 250px;
    top: -28px;
}

.mdl-button.top-right {
    z-index: 2;
    left: 250px;
    top: 28px;
}

.align-right {
    text-align: right;
}

form {
    margin-bottom: 0;
}

select {
    font-size: inherit;
}
